<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/gravatar.css" />
  </head>
  <body>
    {% for greeting in greetings %}
    <div class="guest_signature">
      <img src="{{ greeting.gravatar }}" />
      {% if greeting.author %}
        <span class="guest_name">{{ greeting.author.nickname }}</span> wrote:
      {% else %}
        <span class="anon_name">An anonymous person wrote:</span>
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
      <br />
    </div>
    {% endfor %}

    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
